/* CSS STYLES */

div.logo {
    width: 30vw;
    text-align: left;
    padding: 0.9rem;
    background-color: rgb(90, 48, 0);
    color:rgb(255, 255, 255);
    min-width: 260px;
    border-radius: 12px 0 12px 0;
}
div.logo img{
    width: 5%;
    padding: 0.4vw;
    vertical-align: middle;
    
    
}
div.logo span{
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;/* alterar a caixa das letras(altas, baixas etc.)*/
}
div.slogan img{
    width: 100%;
        border-radius: 12px;
            min-width: 260px;
            margin-top: 0.3rem;
            
   }
header p.lobster {
    font-size: 0.9rem;
    font-family: "Lato", sans-serif;
    padding: 1vw;
    text-align: center;
    color: rgb(90, 48, 0);
    min-width: 260px;
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
    border:0.1rem solid rgb(90, 48, 0);
    border-radius: 12px;
    text-transform: uppercase;
    
}
nav ul {
    text-decoration: none;
    list-style: none;

}
nav ul li a {
   padding: 0 15px 0 15px;
   margin:auto;
   display: inline-block;

}
div.links {
    background-color: rgb(90, 48, 0);
    padding: 1vw;
    text-align: center;
    border-top: #999;
    min-width: 260px;
    border-radius: 12px;
}

div.links a {
    text-decoration: none;
    text-decoration-color: black;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    color: white;   
    
}
div.links a:hover

/*style ao colocar o mouse em cima*/
    {
    text-decoration-color: rgb(255, 255, 255);
    text-transform: uppercase;
    
}

.h2Color {
    color: rgb(24, 94, 10);
    text-align: left;
    /*direction:rtl;
   unicode-bidi: bidi-override;*/
    font-family: "Lato", sans-serif;
   
}
article#NossosPratos table td h3 {
        font-family: "Lato", sans-serif;

}
input[type="radio"] {
    /*mudar a cor do checked*/
    accent-color: rgb(90, 48, 0);
}
input[type="checkbox"]:checked + span {
    /*mudar a cor da fonte das opções quando marcada*/
    color: rgb(90, 48, 0);
}
p {
    text-align: justify;
    text-indent: 1.3rem; /*espaçamento do primeiro parágrafo*/
    letter-spacing: 0.03rem; /*espaçamento das letras*/
    word-spacing: 0.03rem; /*espaçamento das palavras*/
    line-height: 1.4rem; /*espaçamentop das linhas*/
    color:black
}
/*p::first-letter {
    /*alterar o tamanho da primeira letra do parágrafo
    font-size: 1.5rem;
}*/
h2 + span {
    font-size: 0.9rem;
    color: rgb(207, 111, 2);
    text-transform: uppercase;
    text-align: center;
}
/*header > img {
    /*filter:invert(100);*/


textarea {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
}



body form {
font-family: "Lato", sans-serif;
font-size: 1.0rem;
 letter-spacing: 0.03rem;
 line-height: 1.8rem;
     padding: 0 0 0 0;
}
body {
    background-color: rgb(255, 244, 229);
    width: 80%;
    margin: auto;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
        serif;
    line-height: 1.3rem;
    padding: 10px;
}
